[Unit]
Description=uWSGI service
After=syslog.target
 
[Service]
ExecStart=/srv/venv/bin/uwsgi -i /srv/hospitalWeb/.config/uwsgi/hospitalWeb.ini
 
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target