.contain{
    position: relative;
    .inner{
        position: absolute;
        // margin: auto;
        right: 0;
        left: 0;
        width: 60%;
        .section{
            .backBtn{
                position: fixed;
                z-index: 100;
                right: 20%;
                bottom: 10%;
                border: 0;
                font-size: 16px;
                font-weight: 700;
                border-radius: 10px;
                width: 100px;
                height: 40px;
            }   
        }
    }
    @media screen and (max-width: 800px){
        .inner{
            width: 80%;
            .section{
                .backBtn{
                    right: 10%;
                }
            }
        }
    }
}